/lib/vendor/*
/cache/*
/log/*
/web/uploads/*
/config/databases.yml
/config/databases.yml~
/config/ProjectConfiguration.class.php
/config/ProjectConfiguration.class.php~
/.buildpath
/.project
/.settings/


