/*
.proprio{
	float:right;
	width:43px;
}


h3 {
	font-size: 1.2em;
}



#list table{
    font-size:11px;
}

#header{
	margin-left:200px;
	height:100px;
	position: static;
}


#container{
   margin-left:200px;
   margin-top:-145px;
}

#welcome{
	right:310px;
	top: 245px;
}

#sidebar ul{
	width: 304px;
}

#derFilms{
	margin-left:25px;
}

#rechercheAv{
	margin-right:290px;
	height:10px;
	margin-top:15px;
}

#searchform{
	height:100px;
}


.lienderfilm{
	background-color:#4f3b30;
}

#connectionform table{
	color: #f3ceb2;
    font-size:11px;
}

#content{
	width:515px;
   margin-right: 13px;
}
#content h2{
	width:570px;
}

.sitetable img{
	margin-right:3px;
}


.sitetable.lien h3{
	float:left;
}



.haut{
	float:right;
}

#titreFilm{
	float:left;
}


.post{
	width:100%;
}


.content{
	margin-right:-30px;
}

#content{
   width: 585px;
}

#list{
   width: 100%;
}

#content h2 {
	margin: 0 0 0 0px;
	padding: 10px 0 3px 0;
	border-bottom: 1px dashed #785940;
	border-top: 1px dashed #785940;
	padding-right: 10px;
	padding-left: 20px;
        margin-bottom:10px;
		width:100%;
}

#acteursserie h2 {
	width:100%;

}

.ui-tabs{
width:100%;
	margin-left:-1px;
}

*/


